<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>${title}</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <div>
        <h1 th:text="'Hi, ' + ${user.username} + ', here are all your activities.'"></h1>
    </div>

    <div>
        <table class="table">

            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Activity Type</th>
                <th>Difficulty</th>
                <th>User</th>
                <th>Complete</th>
                <th>Edit</th>
            </tr>

            <tr th:each="activity : ${user.activities}">
                <td th:text="${activity.date}"></td>
                <td th:text="${activity.time}"></td>
                <td th:text="${activity.type}"></td>
                <td th:text="${activity.level}"></td>
                <td th:text="${activity.user.username}"></td>
                <td th:if="${activity.completed}">Completed</td>
                <td th:unless="${activity.completed}">Pending</td>
                <td>TBD</td>
            </tr>

        </table>
    </div>
    </div>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>