<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{default}">
<head>
    <title th:text="${title}">Default Title</title>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

</head>
<body>
<div class="content" layout:fragment="content">

    <div class = "column">
        <h1 id="greeting" th:data-user="${user.username}" th:text="'Hi, ' + ${user.username} + ', here are all your activities.'"></h1>

    <div  class="row alert alert-warning" th:if="${user.breachNotify} == 1" id="hibp">
        <p id="breachNotification" th:text="'Heads up ' + ${user.username} + ', it looks like your username was compromised in a breach on ' + ${user.lastBreach} + '. Please use an updated password since that last breach, at a minimum.'"></p>
        <div class="row breachNotificationActions" >
        <p>For more information on your specific breach, please click <a href="https://haveibeenpwned.com">here</a> and enter your username.</p>
        <div class="row notification" >
            <button id="hideNotification" class="btn btn-primary ">Hide</button><br/>

           <input class="form-control" type="checkbox" id="hidePermanently">Don't see me again.

        </div>
        </div>
    </div>
    </div>

    <div class="column">
        <div class="row">
        <table class="table-bordered">

            <tr>
                <th>Date</th>
                <th>Time</th>
                <th>Activity Type</th>
                <th>Difficulty</th>
                <th>Location</th>
                <th>Complete</th>
                <th>Edit</th>
            </tr>

            <tr th:each="activity : ${user.activities}">
                <td th:text="${activity.date}"></td>
                <td th:text="${activity.time}"></td>
                <td th:text="${activity.type.name}"></td>
                <td th:text="${activity.level.name}"></td>
                <td th:text="${activity.location}"></td>
                <td th:if="${activity.completed}">Completed</td>
                <td th:unless="${activity.completed}">Pending</td>
                <td><a href="test.html" th:href="@{/activity/edit(id=${activity.id})}">edit</a>
                </td>
            </tr>


        </table>
        </div>
        <div style="padding-top: 20px" >
            <form th:action="@{/activity/results}" style="max-width:600px;" method="post" th:object="${activity}">
                <div class="form-group ">
                    <label th:for="search_date">Search by Date
                        <input type="date"  name = "search_date" class="input-group-sm">
                    </label>
                    <label th:for="time"> Search by Time</label>
                    <input type="time" name="time" class="input-group-sm">

                            <label th:for="type">Search by Activity Type</label>
                            <select name="type" class="input-group-sm">
                                <option th:value=null>Select</option>
                                <option th:each="type : ${types}"
                                        th:text="${type.name}"
                                        th:value="${type}"></option>
                            </select>

                            <label th:for="level">Search by Skill Level</label>
                            <select name="level" class="input-group-sm">
                                <option th:value=null>Select</option>
                                <option th:each="level: ${levels}"
                                        th:text= "${level.name}"
                                        th:value="${level}"></option>
                            </select>

                        <input type="submit" value="Search for Activities!" class="input-group-sm"/>
                </div>
                    </form>






    <style>
       /* Set the size of the div element that contains the map */
      #map {
        float:left;
        height: 400px;  /* The height is 400 pixels */
        width: 75%;  /* The width is the width of the web page */
       }
    </style>
    <h4>Activity Locations</h4>
    <!--The div element for the map -->
            <div class="form-group">
                <label th:for="location">Destination</label>
                <select name="location" >
                    <option>Select one</option>
                    <option th:each="activity : ${user.activities}"
                            th:text="${activity.location}"
                            th:value="${activity.location}"
                    ></option>
                </select>

                <input type="submit" value="Get Directions" id="submit"/>

                <div class="row">
                <div id="map"class="col-sm-8"></div>
                <div class="col-sm-4" id="directionsPanel" style="float:right;width:30%;height 30%"></div>
                </div>

    </div>





    </div>


    <script th:src="@{/js/hibp.js}"></script>
</div>

<th:block layout:fragment="scripts"></th:block>

    <script  th:inline="javascript">
    /*<![CDATA[*/




    //initiate variable for user activity locations
    var locations = [];
    //googlemaps api keys
    var apiKey = /*[[${apiKey}]]*/;


    //pushing thymeleaf passed in variable into javascript variable
    /*[# th:each="n : ${locations}"]*/


        locations.push("[(${n})]");
        /*[/]*/


     function initGeolocation()
    {

            if( navigator.geolocation )
            {

              // Call getCurrentPosition with success and failure callbacks
              navigator.geolocation.getCurrentPosition( success, fail );
        }
        else
        {
              alert("Sorry, your browser does not support geolocation services.");
        }
    }

         function success(position)
     {
           // Define the coordinates as a Google Maps LatLng Object
           var coords = new google.maps.LatLng(position.coords.latitude, position.coords.longitude);


           // Prepare the map options
           var mapOptions =
          {
                      zoom: 8,
                      center: coords,
                      mapTypeControl: false,
                      navigationControlOptions: {style: google.maps.NavigationControlStyle.SMALL},
                      mapTypeId: google.maps.MapTypeId.ROADMAP
            };

            // Create the map, and place it in the map div
            map = new google.maps.Map(document.getElementById("map"), mapOptions);
            //variable for adding marker
            var props = {
                coords: coords,
                content: "You are here!"


                };





            // Place the initial marker for user current location
            addMarker(props);

            //loop through locations variable and add marker
           for(var i = 0; i < locations.length; i++){
              var address = locations[i];

              props = {
               coords: getCoords(address),
               content: address
              };
              console.log(props);
              addMarker(props);

            }



            //listen for user to submit request to get directions
            var submit = document.getElementById("submit").addEventListener('click', getDirections);
                 //this function get directions
             function getDirections(){

                  //set variable to address selected from html element location
                  var destination =  document.getElementsByName("location")[0].value;


                  var directionsService = new google.maps.DirectionsService();
                  var directionsDisplay = new google.maps.DirectionsRenderer();
                  directionsDisplay.setMap(map);
                if(destination != null){
                 var request = {
                  origin: coords,
                  destination: getCoords(destination),
                  travelMode: "DRIVING"
                  };
                  directionsService.route(request, function(response, status) {
                    if (status == 'OK') {
                 directionsDisplay.setDirections(response);
                 directionsDisplay.setPanel(document.getElementById('directionsPanel'));

                    }
                  });


                }
                  }














        }
        function fail(){

        console.log("fail");
        }




        //adding marker function
         function addMarker(props){

            var marker = new google.maps.Marker({
                      position: props.coords,
                      map: map,


            });
             if(props.content){
               var infoWindow = new google.maps.InfoWindow({
                content:props.content
          });
            }
              if(props.iconImage){
          // Set icon image
          marker.setIcon(props.iconImage);
        }
          marker.addListener('click', function(){
            infoWindow.open(map, marker);
          });

            }

           //get lat&lng function
   function getCoords(address) {

    var position = {};
    var url = 'http://maps.google.com/maps/api/geocode/json';
    url += '?' + $.param({
    'api-key': apiKey
    });
    $.ajax({
        url : url,
        type : 'GET',

        data : {
            address : address,
            sensor : false

        },
        async : false,
        success : function(result) {

            try {
                position.lat = result.results[0].geometry.location.lat;
                position.lng = result.results[0].geometry.location.lng;
            } catch(err) {
                position = null;
            }

        }
    });
    return position;
}



        $(document).ready(function()
        {
            initGeolocation();

        })
          /*]]>*/

</script>
    <script  async defer
             th:src= ${src} >



    </script>
</div>
</body>
</html>