<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>ExerciseMeetup! Landing Page</title>
</head>
<body>
    <div class="content" layout:fragment="content">
        <form th:object="${registerForm}" method="post" style="max-width:600px;">
            <div class="form-group">
                <label th:for="username">Username</label>
                <input class="form-control" th:field="*{username}" />
                <span th:errors="*{username}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="password">Password</label>
                <input class="form-control" th:field="*{password}" type="password" />
                <span th:errors="*{password}" class="error"></span>
            </div>

            <div class="form-group">
                <label th:for="verifyPassword">Verify Password</label>
                <input class="form-control" th:field="*{verifyPassword}" type="password" />
                <span th:errors="*{verifyPassword}" class="error"></span>
            </div>

            <input type="submit" value="Register" />
        </form>
    </div>
    <th:block layout:fragment="scripts"></th:block>
</body>
</html>