<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{default}">
<head>
    <title th:text="${title}">Default Title</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <form method="post" style="max-width:600px;" th:object="${activity}">
        <div class="form-group">
            <label th:for="type">Activity Type</label>
            <select name="type">
                <option>Select one</option>
                <option th:each="type : ${types}"
                        th:text="${type.name}"
                        th:value="${type}"></option>
            </select>
            <input th:type="hidden" th:field="${activity.id}"/>
        </div>
        <div class="form-group">
            <label>Skill Level</label>
            <!--<div class="radio"  >-->
                <label th:for="level"  th:each="level : ${levels}" type="radio">
                    <input th:type="radio"  th:value="${level}"   th:text="${level.name}"   />

                <!--working on putting radio types in <label> tag to make each name clickable does not work with this current code-->

                </label>
                <span th:errors="*{level}" class="error"></span>
            <!--</div>-->
        </div>

        <div class="form-group">
            <label th:for="date">Date
                <input type="date" th:feild="*{date}" name = "date">
            </label>
            <span th:errors="*{date}" class="error"></span>
            <span th:if="${error}" class="error">Please select a valid date.</span>
        </div>
        <div class="form-group">
            <label th:for="time">Time
                <input type="time" th:feild="*{time}" name = "time">
            </label>
            <span th:errors="*{time}" class="error"></span>
        </div>
        <input type="submit" value="Add Activity" />
    </form>
</div>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>