<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<form method="post" style="max-width:600px;" th:object="${activity}">

    <div class="form-group">
        <label th:for="type">Activity Type</label>
        <select name="type">
            <option th:each="type : ${types}"
                    th:text="${type.name}"
                    th:value="${type}"></option>
        </select>
        <input th:type="hidden" th:field="${activity.id}"/>
    </div>
    <div class="form-group">
        <label>Skill Level</label>
        <div class="radio">
            <label th:for="level"> <input type="radio" name="level"
                           th:each="level : ${levels}" th:text="${level.name}" th:value="${level}" >
            </label>
        </div>
    </div>
    <!--<input type="hidden" th:value="${uId}" name="useruId" />-->

    <input type="submit" value="Add Activity" />
</form>

</body>
</html>