<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{default}">
<head>
    <title>ExerciseMeetup! Landing Page</title>
</head>
<body>
<div class="content" layout:fragment="content">
    <h1>Activites</h1>
    <div class="row col-md-7 table-responsive">
        <table id="activityTable" class="table">
            <thead>
            <tr>
                <th>Activity</th>
                <th>Skill Level</th>
                <th>Date</th>
                <th>Time</th>
                <th>Location</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="activity: ${activities}">
                <!--th:style="${rowStat.odd} ? 'color: gray' : 'color: blue;'">-->
                <td th:text="${activity.type}"></td>
                <td th:text="${activity.level}"></td>
                <td th:text="${activity.date}"></td>
                <td th:text="${activity.time}"></td>
                <td>No Data</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<th:block layout:fragment="scripts"></th:block>
</body>
</html>