<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">

<nav th:replace="fragments :: navigation"></nav>


<header class="header">
    <div class="overlay">
        <div class="container">
            <div class="inputform">
                                <div>
                    <table class="table">

                        <tr>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Activity Type</th>
                            <th>Difficulty</th>
                            <th>User</th>
                            <th>Complete</th>
                            <th>Edit</th>
                        </tr>

                        <tr th:each="activity : ${activities}">
                            <td th:text="${activity.date}"></td>
                            <td th:text="${activity.time}"></td>
                            <td th:text="${activity.type}"></td>
                            <td th:text="${activity.level}"></td>
                            <td th:text="${activity.user.username}"></td>
                            <td th:if="${activity.completed}">Completed</td>
                            <td th:unless="${activity.completed}">Pending</td>
                            <td>TBD</td>
                        </tr>

                    </table>
                </div>
            </div>
        </div>
    </div>
</header>

<div th:replace="fragments :: js_scripts"></div>
</body>
</html>