<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head"></head>
<body class="container-fluid">
<h1 th:text="${title}">Title</h1>

<nav th:replace="fragments :: navigation"></nav>

<div>
    <p th:text="${activity.type}"></p>
    <p th:text="${activity.level}"></p>
    <p th:text="${activity.user.username}"></p>
</div>

<div>
    <table class="table">

        <tr>
            <th>Date</th>
            <th>Activity Type</th>
            <th>Difficulty</th>
            <th>User</th>
            <th>Complete</th>
            <th>Edit</th>
        </tr>

        <tr th:each="activity : ${activities}">
            <td>TBD</td>
            <td th:text="${activity.type}"></td>
            <td th:text="${activity.level}"></td>
            <td th:text="${activity.user.username}"></td>
            <td>TBD</td>
            <td>TBD</td>
        </tr>

    </table>
    <a th:href="@{activity/add}">Add</a> | <a href="#">Remove</a>
</div>
</body>
</html>