.header{
    background-image: url('../images/bicycle_background.jpg');
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
}

.errors{
    color: red;
}

.inputform{
    padding-top: 180px;
    padding-left: 20%;
}

.overlay{
 position: absolute;
 min-height: 100%;
 min-width: 100%;
 left: 0;
 top: 0;
 background: rgba(244, 244, 244, 0.79);
}

.container-fluid {
  padding: 0px;
}

body {
    padding-top: 80px;
    position: relative;
}

.description{
    position: absolute;
    top: 30%;
    margin: auto;
    padding: 2em;

}
.description h1{
 color:#C51728 ;
}
.description p{
 color:#666;
 font-size: 20px;
 width: 50%;
 line-height: 1.5;
}
.description button{
 border:1px  solid #C51728;
 background:#C51728;
 color:#fff;
}

.navbar{
 background:#C51728;
}
.nav-link , .navbar-brand{
 color: #f4f4f4;
 cursor: pointer;
}

.nav-link:hover{
 background: #f4f4f4;
 color: #C51728;

}

.navbar-toggler{
  background:#fff !important;
}