<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8"/>
    <title>Default title for my pages</title>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous" />
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
</head>

<body class="container-fluid">
<nav th:fragment="navigation" class="navbar navbar-expand-xl fixed-top">
    <a class="navbar-brand abs" href="https://launchcode.org"><img src="/images/lc_logo.png" width="100" height="50"  alt="launchcode logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsingNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="collapsingNavbar">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/">Main</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/register}">Register</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/login}">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/activity/add}">Add Activity</a>
            </li>
            <li class="nav-item" th:if="${user}">
                <a class="nav-link" th:href="@{/user/} + ${user.username}">My Activities</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/activity/view-all}">View All</a>
            </li>
        </ul>
        <!--idea here is to add login/register/logout button in top right, but I can't find the right object to pass in the 'if' and 'unless' statements on the template. will revisit...-->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item" th:if="${user}">
                <form th:action="@{/logout}" method="post" name="logoutForm"></form>
                <a class="nav-link" href="#" onclick="document.logoutForm.submit()"><i class="fas fa-sign-out-alt"></i>Log Out</a>
            </li>
            <li class="nav-item" th:unless="${user}">
                <a class="nav-link" th:href="@{/login}">Login</a>
                <span> | <a class="nav-link" th:href="@{/register}">Register</a></span>
            </li>
        </ul>
    </div>
</nav>

<header class="header">
    <div class="overlay">
        <div class="container">
            <div class="content" layout:fragment="content">

            </div>
        </div>
    </div>
</header>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<th:block layout:fragment="js_scripts"></th:block>
</body>
</html>